@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@using GillowWebApp.ModelViews
<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from themezhub.net/resido-live/resido/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Jan 2021 21:33:40 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Gillow - Think Quality Realestate</title>

    <!-- Custom CSS -->
    <link href="assets/css/styles.css" rel="stylesheet">

    <!-- Custom Color Option -->
    <link href="assets/css/colors.css" rel="stylesheet">
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/sweetalert2.css" rel="stylesheet" />

</head>

<body class="blue-skin">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    @*<div id="preloader"><div class="preloader"><span></span><span></span></div></div>*@

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        @{


            var variables = httpContextAccessor.HttpContext.Session.GetObjectFromJson<Variables>("Variables");
            string address = "";
            if (variables != null)
            {
                address = variables.Address;
            }

        }
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        <div class="header header-light head-shadow">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="~/assets/img/logo.png" class="logo" alt="" />
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li class="active">
                                <a href="Home">Home<span class="submenu-indicator"></span></a>

                            </li>

                            <li>
                                <a href="JavaScript:Void(0);">Property Listings<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li>
                                        <a href="JavaScript:Void(0);">Flat<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Flat&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Flat&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Flat&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Flat&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="JavaScript:Void(0);">Houses<span class="submenu-indicator"></span></a>

                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Houses&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Houses&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Houses&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Houses&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="JavaScript:Void(0);">Lands<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Lands&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Lands&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Lands&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Lands&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="JavaScript:Void(0);">Commercial Property<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Commercial Property&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Commercial Property&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Commercial Property&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Commercial Property&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="JavaScript:Void(0);">Co-Working Spaces<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Co-Working Spaces&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Co-Working Spaces&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Co-Working Spaces&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Co-Working Spaces&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="JavaScript:Void(0);">Offices<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Offices&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Offices&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Offices&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Offices&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="JavaScript:Void(0);">Shops<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Shops&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Shops&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Shops&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Shops&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="JavaScript:Void(0);">Detached Duplexes<span class="submenu-indicator"></span></a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="searchresult?category=For Sale&type=Detached Duplexes&skip=0">For Sale</a></li>
                                            <li><a href="searchresult?category=For Rent&type=Detached Duplexes&skip=0">For Rent</a></li>
                                            <li><a href="searchresult?category=Joint Venture&type=Detached Duplexes&skip=0">Joint Venture</a></li>
                                            <li><a href="searchresult?category=Short Let&type=Detached Duplexes&skip=0">Short Let</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="JavaScript:Void(0);">Requests<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="#">Post a Request</a></li>
                                    <li><a href="#">Browse Requests</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="JavaScript:Void(0);">Pages<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="#">Blog Page</a></li>

                                </ul>
                            </li>

                            <li><a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</a></li>

                        </ul>

                        <ul class="nav-menu nav-menu-social align-to-right">

                            <li>
                                <a href="/PostProperty" class="text-success"><img src="~/assets/img/submit.svg" width="20" alt="" class="mr-2" />Add Property</a>
                            </li>
                            @if (ViewBag.loginStatus == "true")
                            {
                                <li class="add-listing">
                                    <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><img src="~/assets/img/user-light.svg" width="12" alt="" class="mr-2" />Sign out</a>
                                </li>
                            }
                            else
                            {
                                <li class="add-listing">
                                    <a href="JavaScript:Void(0);" data-bs-toggle="modal" data-bs-target="#login"><img src="~/assets/img/user-light.svg" width="12" alt="" class="mr-2" />Sign In</a>
                                </li>
                            }

                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- End Navigation -->
        @* Here is the show below *@
        <div class="row">

            <div class="col-lg-3 col-md-12">

                <div class="simple-sidebar sm-sidebar" id="filter_search">

                    <div class="search-sidebar_header">
                        <h4 class="ssh_heading">Close Filter</h4>
                        <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                    </div>

                    <div class="sidebar-widgets">
                        <div class="dashboard-navbar">

                            <div class="d-user-avater">
                                <img src="~/profiles/@Model.ProfilePic" class="img-fluid avater" alt="">
                                <h4>@Model.FullName</h4>
                                <span>@Model.PhoneNumber</span>
                            </div>

                            <div class="d-navigation">
                                <ul>
                                    <li class="active"><a href="#"><i class="ti-dashboard"></i>Dashboard</a></li>
                                    <li><a href="#"><i class="ti-user"></i>My Profile</a></li>
                                    <li><a href="#"><i class="ti-bookmark"></i>Subscriptions</a></li>
                                    <li><a href="/MyProperty"><i class="ti-layers"></i>My Properties</a></li>
                                    <li><a href="#"><i class="ti-pencil-alt"></i>Submit New Property</a></li>
                                    <li><a href="#"><i class="ti-pencil-alt"></i>Property Requests</a></li>

                                    <li><a href="#"><i class="ti-view-list"></i>Tutorials</a></li>
                                    <li><a href="#"><i class="ti-unlock"></i>Change Password</a></li>
                                    <li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            @RenderBody();



        </div>



        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- ============================ Call To Action ================================== -->
        <section class="theme-bg call-to-act-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="call-to-act">
                            <div class="call-to-act-head">
                                <h3>Want to Become a Real Estate Agent?</h3>
                                <span>We'll help you to grow your career and growth.</span>
                            </div>
                            <a href="#" class="btn btn-call-to-act">SignUp Today</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- ============================ Call To Action End ================================== -->
        <!-- ============================ Footer Start ================================== -->
        <footer class="dark-footer skin-dark-footer">
            <div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-4">
                            <div class="footer-widget">
                                <img src="~/assets/img/logo-light.png" class="img-footer" alt="" />


                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget">
                                <h4 class="widget-title">Navigations</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">FAQs Page</a></li>

                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget">
                                <h4 class="widget-title">The Highlights</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">Apartment</a></li>
                                    <li><a href="#">My Houses</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Nightlife</a></li>
                                    <li><a href="#">Villas</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="footer-widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="footer-menu">
                                    <li><a href="#">My Profile</a></li>
                                    <li><a href="#">My account</a></li>
                                    <li><a href="#">My Property</a></li>
                                    <li><a href="#">Favorites</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <h4 class="widget-title">Download Apps</h4>
                                <a href="https://play.google.com/store/apps/details?id=com.gillow.apekflux&hl=en&gl=US" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="lni-playstore theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            Google Play
                                            <span>Get It Now</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="https://apps.apple.com/ng/app/gillow-app/id1525579581" class="other-store-link">
                                    <div class="other-store-app">
                                        <div class="os-app-icon">
                                            <i class="lni-apple theme-cl"></i>
                                        </div>
                                        <div class="os-app-caps">
                                            App Store
                                            <span>Now it Available</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6">
                            <p class="mb-0">© 2021 Gillow. Designd By <a href="#">APEK FLUX</a> All Rights Reserved</p>
                        </div>

                        <div class="col-lg-6 col-md-6 text-right">
                            <ul class="footer-bottom-social">
                                <li><a href="https://web.facebook.com/Gillow.ng/?_rdc=1&_rdr"><i class="ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/gillow_ng"><i class="ti-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/gillow.ng/"><i class="ti-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/gillow"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================ Footer End ================================== -->
        <!-- Log In Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="registermodal">
                    <span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Log In</h4>
                        <div class="login-form">
                            <form>

                                <div class="form-group">
                                    <label>User Name</label>
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" id="username" placeholder="Username">
                                        <i class="ti-user"></i>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-with-icon">
                                        <input type="password" id="password" class="form-control" placeholder="*******">
                                        <i class="ti-unlock"></i>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <button type="button" class="btn btn-md full-width btn-theme-light-2 rounded" onclick="Login();">Login</button>
                                    <img id="loader2" width="50px" height="50px" style="display:none" src="~/images/loader_gif.gif" />
                                </div>
                                <script>
                                    function Login() {
                                        var username = $("#username").val();
                                        var password = $("#password").val();
                                        document.getElementById("loader2").style.display = "block"
                                        $.ajax({
                                            type: "Post",
                                            url: "/Login/SignIn", ////I think Login should have it's own Coontroller...
                                            data: { Email: username, Password: password },
                                            success: function (response) {
                                                if (response == "Success") {
                                                    document.getElementById("loader2").style.display = "none";//It doesn't exists yet... It's that Loader Image... Put it at the location I told you and give it an ID

                                                    window.location.href = "DashboardAgent"; //I just told you yesterday that you should redirect to the members Page...And By Default,

                                                } else {
                                                    document.getElementById("loader2").style.display = "none";
                                                    alert("Invalid Login Credentials")
                                                    //setTimeout(function () {
                                                    //    swal({
                                                    //        title: "Error!",
                                                    //        text: "Invalid Login Credentials",
                                                    //        type: "error"
                                                    //    },
                                                    //        function () {

                                                    //        })
                                                    //}, 100)
                                                }
                                            }
                                        })
                                    }
                                </script>

                            </form>
                        </div>
                        <div class="modal-divider"><span>Or login via</span></div>
                        <div class="social-login mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <p class="mt-5"><a href="#" class="link">Forgot password?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <!-- Sign Up Modal -->
        <div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <div class="modal-content" id="sign-up">
                    <span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Sign Up</h4>
                        <div class="login-form">
                            <form>

                                <div class="row">

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="text" class="form-control" placeholder="Full Name">
                                                <i class="ti-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="email" class="form-control" placeholder="Email">
                                                <i class="ti-email"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="text" class="form-control" placeholder="Username">
                                                <i class="ti-user"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="password" class="form-control" placeholder="*******">
                                                <i class="ti-unlock"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <input type="password" class="form-control" placeholder="123 546 5847">
                                                <i class="lni-phone-handset"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <div class="input-with-icon">
                                                <select class="form-control">
                                                    <option>As a Customer</option>
                                                    <option>As a Agent</option>
                                                    <option>As a Agency</option>
                                                </select>
                                                <i class="ti-briefcase"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width btn-theme-light-2 rounded">Sign Up</button>
                                </div>

                            </form>
                        </div>
                        <div class="modal-divider"><span>Or login via</span></div>
                        <div class="social-login mb-3">
                            <ul>
                                <li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
                                <li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google+</a></li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <p class="mt-5"><i class="ti-user mr-1"></i>Already Have An Account? <a href="#" class="link">Go For LogIn</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>


    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @*<script src="~/assets/js/jquery.min.js"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    @*<script src="~/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>*@
    <script src="~/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/js/sweetalert2.js"></script>

    @*<script src="~/js/sweetalert2.js"></script>*@
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/rangeslider.js"></script>
    <script src="~/assets/js/select2/select2.full.min.js"></script>
    @*<script src="~/assets/js/select2.min.js"></script>*@
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/slider-bg.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/imagesloaded.js"></script>
    <script src="~/assets/js/dropzone.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyAuciemUDUfoAKAQvki2mFn4COjFPlNRLI"></script>
    @*<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>*@

    <script>
        var address;
        function initialize() {

            var addr = '@address';

            var geocoder = new google.maps.Geocoder();
            var latitude;
            var longitude;

            geocoder.geocode({ 'address': addr }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = results[0].geometry.location.lat();
                    longitude = results[0].geometry.location.lng();

                    var fenway = new google.maps.LatLng(latitude, longitude);
                    var mapOptions = {
                        center: fenway,
                        zoom: 19
                    };

                    var lookat = new google.maps.LatLng(latitude, longitude);

                    var map = new google.maps.Map(
                        document.getElementById('map-canvas'), mapOptions);
                    var SVlayer = new google.maps.StreetViewCoverageLayer();
                    SVlayer.setMap(map);

                    var streetViewMaxDistance = 50;

                    var point = new google.maps.LatLng(latitude, longitude);

                    var marker = new google.maps.Marker({
                        position: lookat,
                        map: map
                    });
                    map.setCenter(lookat);
                    var streetViewService = new google.maps.StreetViewService();

                    streetViewService.getPanoramaByLocation(lookat, streetViewMaxDistance, function (streetViewPanoramaData, status) {

                        if (status === google.maps.StreetViewStatus.OK) {
                            var oldPoint = point;
                            point = streetViewPanoramaData.location.latLng;
                            var SVmarker = new google.maps.Marker({
                                position: streetViewPanoramaData.location.latLng,
                                map: map
                            });


                            var heading = google.maps.geometry.spherical.computeHeading(streetViewPanoramaData.location.latLng, lookat);
                            document.getElementById('info').innerHTML = "heading=" + heading;
                            var panoramaOptions = {
                                position: oldPoint,
                                pov: {
                                    heading: heading,
                                    zoom: 1,
                                    pitch: 0
                                },
                                zoom: 1
                            };
                            var lineSymbol = {
                                path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
                            };
                            var polyline = new google.maps.Polyline({
                                map: map,
                                path: [streetViewPanoramaData.location.latLng, lookat],
                                icons: [{
                                    icon: {
                                        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
                                    },
                                    offset: '100%'
                                }]
                            });
                            var myPano = new google.maps.StreetViewPanorama(
                                document.getElementById('pano'),
                                panoramaOptions);
                            myPano.setVisible(true);

                        }
                    });
                }
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
        function openFilterSearch() {
            document.getElementById("filter_search").style.display = "block";
        }
        function closeFilterSearch() {
            document.getElementById("filter_search").style.display = "none";
        }
    </script>
    <script>
        var check;
        $(document).ready(function () {

            // Gets the video src from the data-src on each button

            var $videoSrc;
            $('.video-btn').click(function () {

                $addressideoSrc = $(this).attr('src');
                // check = $videoSrc;
            });
            console.log($videoSrc);

            // when the modal is opened autoplay it
            $('#myModal').on('shown.bs.modal', function (e) {

                // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
                $("#video").attr('src', $videoSrc);
            })



            // stop playing the youtube video when I close the modal
            $('#myModal').on('hide.bs.modal', function (e) {
                // a poor man's stop video
                $("#video").attr('src', $videoSrc);
            })


            // document ready
        });
        $(document).ready(function () {

            const urlParams = new URLSearchParams(window.location.search);
            $('#keyword').val(urlParams.get('keywords'));
            $('#mylocation').val(urlParams.get('location'));
            $('#category2').val(urlParams.get('category'));
            $('#proptype2').val(urlParams.get('type'));
            $('#minprice').val(urlParams.get('minprice'));
            $('#maxprice').val(urlParams.get('maxprice'));



            $('#bedroom').val(urlParams.get('bedroom'));
            $('#toilet').val(urlParams.get('toilet'));

            $(function () {
                var getData = function (request, response) {
                    $.getJSON(
                        "Home/Location?term=" + request.term,
                        function (data) {
                            check = data;
                            response(data);
                        });
                };

                var selectItem = function (event, ui) {

                    $("#mylocation").val(ui.item.value);
                    $("#mylocation2").val(ui.item.value);
                    return false;
                }

                $("#mylocation2").autocomplete({
                    source: getData,
                    select: selectItem,
                    minLength: 2
                    //change: function () {
                    //    $("#myText").val("").css("display", 2);
                    //}
                });

                $("#mylocation").autocomplete({
                    source: getData,
                    select: selectItem,
                    minLength: 2
                    //change: function () {
                    //    $("#myText").val("").css("display", 2);
                    //}
                });
            });
        });



        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }


    </script>

    @RenderSection("Scripts", required: false)


    @*<script>

            $(document).ready(function () {

                Dropzone.options.dropzoneJsForm = {
                    //autoProcessQueue: false,
                    //autoQueue: true,
                    init: function () {
                        var submitButton = document.querySelector("#btnSubmit");
                        var myDropzone = this;

                        this.on("sending", function (file, xhr, formData) {

                            var fileData = new FormData();





                            var title = $('#title').val();
                            var category = $('#category').val();
                            var types = $('#types').val();
                            var currency = $('#currency').val();
                            var amount = $('#amount').val();
                            var bedrooms = $('#bedrooms').val();
                            var parking = $('#parking').val();
                            var toilet = $('Toilet').val();
                            var description = $('#description').val();
                            var location = $('#location').val();
                            var bathroom = $('#bathrooms').val();
                            var files = '';

                            var selectedIDs = new Array();
                            $('.checkbox-custom:checked').each(function () {
                                if ($(this).prop('checked')) {
                                    selectedIDs.push($(this).val());
                                }
                            });

                            fileData.append('Title', title);
                            fileData.append('Bathroom', bathroom);
                            fileData.append('Toilet', toilet);
                            fileData.append('Category', category);
                            fileData.append('Types', types);
                            fileData.append('Currency', currency);
                            fileData.append('Amount', amount);
                            fileData.append('bedroom', bedrooms);
                            fileData.append('Parking', parking);
                            fileData.append('description', description);
                            fileData.append('location', location);
                            fileData.append('Features', selectedIDs);


                        });

                        submitButton.addEventListener("click", function () {
                            myDropzone.processQueue();

                        });

                    }
                };

                //   Dropzone.forElement(".dropzone").options.autoProcessQueue = false;


            });


        </script>*@

</body>

<!-- Mirrored from themezhub.net/resido-live/resido/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Jan 2021 21:34:07 GMT -->
</html>